.wrapper{
    display:flex;
    justify-content:center;
}

body{
    background-color: #f3f4f6;
}

.content{
    width:1500px;
    max-width:80%;
}

.min-content{
    width:500px;
    max-width:80%;
}

.content__section{
    display:flex;
    flex-wrap:wrap;
}

.content__section__article{
    width:300px;
    max-width:33%;
    background-color: white;
    margin: 10px;
    padding: 15px;
    border-radius: 10px;
}

.form-group{
    margin-bottom:10px;
}

label{
    width:100%;
    display:block;
}

select{
    width:100px;
}

