{% load static %}
<link rel="stylesheet" href="{% static 'blog.css' %}">
<div class="wrapper">
    <div class="min-content">
    <h1>New Blog</h1>
    作業を{{ crud }}してください
    <form method="POST" class="article-form">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {% for field in form %}
            {% if not field.is_hidden %}
                <div class="form-group">
                    {{ field.label_tag }}
                    {{ field }}
                    {{ field.errors }}
                </div>
            {% else %}
                {{ field }}
            {% endif %}
        {% endfor %}
        <button type="submit" class="save btn btn-primary">{{ CRUD }}</button>
        <input type="button" value="キャンセル" class="btn btn-outline-primary" onclick="location.href='/';">
    </form>
    </div>
</div>